@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,400&display=swap");

html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

/* ====== scroll ===== */
/* width */
::-webkit-scrollbar {
  width: 0.8em;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* background */
::-webkit-scrollbar-track-piece {
  background: #000201;
  width: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 36, 21);
  background: linear-gradient(
    180deg,
    rgb(248, 247, 247) 30%,
    rgba(16, 103, 173, 1) 55%
  );
}
/* ====== end scroll ===== */
/* scroll btn ======== */
#topBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #2744f0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
#topBtn:hover {
  opacity: 0.9;
}
.hero {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px 100px 0;
  background: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}
.hero.active {
  right: 300px;
}
.hero header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #2745f079; */
  background: #ffffff;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(39, 68, 240, 1) 70%
  );
  border-bottom: 5px solid #2744f0;
}
.hero header img {
  padding-top: 5px;
  width: 350px;
  cursor: pointer;
}
.main-menu {
  position: relative;
}
.main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu ul li a {
  margin-right: 30px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  font-size: 1.3rem;
  transition: 0.2s;
}
.main-menu ul li::before {
  content: "";
  width: 0;
  position: absolute;
  transform-origin: left;
  bottom: 0;
  height: 3px;
  background: #fff;
  transition: 0.2s all linear;
}
.main-menu ul li:hover::before {
  width: 50px;
}
.main-menu ul li a:hover {
  opacity: 0.8;
}
.toggle {
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
  background: url("../props/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url("../props/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}
.phone {
  color: green;
}
.social {
  position: fixed;
  font-size: 2.7rem;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
  /* box-shadow: 0 0 10px 10px #003cff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social li a {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.8);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.9) translateY(-12px);
}
.social li a span {
  color: red;
}
.social li .fb:hover {
  color: #003cff;
}
.social li .vb:hover {
  color: purple;
}
.social li .wa:hover {
  color: green;
}
.social li .ig:hover {
  color: #e1306c;
}
.social li .kp {
  color: blue;
}
.social li .phone:hover {
  color: rgb(187, 114, 19);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  margin-bottom: 10px;
}
.menu ul li a {
  font-size: 1.5em;
  color: #111;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: #034aff;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  min-height: 250px;
  text-align: center;
  opacity: 0.8;
  z-index: -1;
  /* background: #034aff; */
  background: url(../props/footer.sport.jpg);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 250px;
  background: #1c3e5e;
  mix-blend-mode: overlay;
}
.footer-media .media {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  z-index: 10;
}
.footer-media .media li {
  margin-right: 50px;
  padding: 20px;
}
.footer-media .media li a {
  color: #fff;
}
.footer-podaci .contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  z-index: 10;
}
.footer-podaci .contact li {
  padding: 5px;
}
.footer-podaci .contact li a {
  color: #ffffff;
}
.next-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.next-page a {
  color: #1d50f7;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.next-page a:hover {
  opacity: 0.9;
}
.next-page-img {
  width: 300px;
  border-radius: 20%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
/* media */

@media (min-width: 451px) {
  .backBtn {
    background: #111;
    border: #fff 3px solid;
    color: #fff;
    padding: 10px;
    margin: 30px 20px 10px;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    outline: none;
  }
  .backBtn:hover {
    transform: scale(1.1);
    color: #034aff;
  }
  .hero .products {
    padding: 4rem 0;
    position: relative;
    margin-bottom: 300px;
  }
  .hero .products .products-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2rem;
    width: 80vw;
    margin: 100px auto;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 5rem 0 0;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.5rem;
    animation: headsUp 1s ease;
  }
  @keyframes headsUp {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .section-title p {
    text-align: center;
    margin: 30px 0;
    animation: headsDown 1s ease;
  }
  @keyframes headsDown {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .hero .products p {
    text-align: center;
    padding: 60px 0;
    font-size: 1.3rem;
  }
  .hero .products .products-center div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .hero .products .products-center img {
    height: 300px;
    width: 350px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 3px 8px 6px -6px black;
  }
}
@media (min-width: 891px) {
  .hero .products .products-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2rem;
    width: 75vw;
    margin: 100px auto;
  }
  .hero .products .products-center img {
    height: 320px;
    width: 370px;
  }
}
@media (min-width: 1151px) {
  .hero .products .products-center img {
    height: 400px;
    width: 450px;
  }
}
@media (min-width: 1650px) {
  /* --------------- Products ---------------- */
  .hero .products .products-center {
    grid-column-gap: 1.5rem;
    grid-row-gap: 5rem;
    width: 60vw;
  }
  .hero .products {
    padding: 4rem 0;
    position: relative;
    margin-bottom: 300px;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 5rem 0 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .section-title p {
    text-align: center;
    margin: 30px 0;
  }
  .hero .products p {
    text-align: center;
    padding: 30px 0;
    font-size: 1.3rem;
  }
  .hero .products .products-center img {
    height: 500px;
    width: 550px;
  }
  .underline {
    width: 5rem;
    height: 0.25rem;
    background: #003cff;
    margin-left: auto;
    margin-right: auto;
  }
  /* ---------------End of Products ---------------- */
}

@media (max-width: 980px) {
  .main-menu {
    display: none;
  }
  .toggle {
    display: block;
  }
}
@media (max-width: 798px) {
  .hero header img {
    width: 250px;
    cursor: pointer;
  }
  .hero.active {
    right: 250px;
  }
  .menu {
    width: 250px;
  }
  .hero {
    padding: 40px 20px;
  }
  .hero header {
    border-bottom: none;
    padding: 20px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h4 {
    font-size: 2em;
  }
  .section-title h2 {
    font-size: 2rem;
    margin: 3rem 0 0 0;
    letter-spacing: 0.25rem;
  }
  .social {
    font-size: 2.5rem;
    left: 5px;
  }
  .btn-container {
    margin: 2rem;
    flex-direction: column;
  }
  .filter-btn {
    margin: 5px 0;
  }
  footer {
    flex-direction: column;
  }
  .footer-media .media {
    margin-top: 50px;
    justify-content: center;
    font-size: 2rem;
  }
  .footer-media .media li {
    margin-right: 25px;
    padding: 10px;
  }
  .footer-podaci .contact {
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }
  .footer-podaci .contact li {
    padding: 5px;
  }
  .hero .products {
    margin-bottom: 300px;
  }
}
@media (max-width: 450px) {
  .backBtn {
    background: #111;
    border: #fff 3px solid;
    color: #fff;
    padding: 10px;
    margin: 25px 10px 5px;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.1s ease;
  }
  .backBtn:hover {
    transform: scale(1.1);
  }
  .hero header img {
    width: 200px;
    cursor: pointer;
  }
  .hero header {
    padding: 15px 5px;
  }
  .menu ul li a {
    font-size: 1.3em;
  }
  .hero .products {
    padding: 4rem 0;
    position: relative;
    margin-bottom: 200px;
  }
  .section-title h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem 0 0;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .section-title p {
    text-align: center;
    margin: 30px 0;
  }
  .hero .products p {
    text-align: center;
    padding: 40px 25px;
    font-size: 1rem;
  }
  .hero .products .products-center {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;
    width: 75vw;
    height: auto;
    margin: 50px auto;
  }
  .hero .products .products-center img {
    width: 280px;
    width: 100%;
    position: static;
  }
  .social {
    top: 55%;
  }
  .next-page a {
    font-size: 1.3rem;
  }
  .next-page-img {
    width: 200px;
    border-radius: 20%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
  }
}
@media (max-width: 376px) {
  .section-title h2 {
    font-size: 1.7rem;
    padding: 0 25px;
    letter-spacing: 0.4rem;
  }
}
@media (max-width: 330px) {
  .menu ul li a {
    font-size: 1.1em;
  }
  .hero .products p {
    text-align: center;
    padding: 20px 15px;
    font-size: 0.9rem;
  }
  .hero header img {
    width: 200px;
    cursor: pointer;
  }
  .hero header {
    padding: 12px 5px;
  }
  .hero {
    padding: 30px 15px;
  }
  .hero.active {
    right: 200px;
  }
  .menu {
    width: 200px;
  }
  .hero .products .products-center {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80vw;
    margin: 50px auto;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
  }
  .section-title h2 {
    font-size: 1.5rem;
    padding: 0 25px;
    letter-spacing: 0.3rem;
  }
  .social {
    font-size: 2.2rem;
    left: 2px;
  }
}
